/** layout

$huge:'(min-width:1600px)';
$xl:'(min-width:1200px)';
$l: '(min-width:980px) and (max-width:1199px)';
$m: '(min-width:768px) and (max-width:979px)';
$s: '(max-width:767px)';
$not-small:'(min-width:768px)';
$not-large:'(max-width:979px)';
$not-xlarge:'(max-width:1199px)';
$huge-width:1600px;
$xl-width:1200px;
$l-width: 980px;
$m-width: 768px;
$s-width: 480px;

//usage
	@media #{$not-small} {}

**/
.region-emergency-bar {
    background-color: #fff;
}

.mobileMenu.expanded{height:200%;}

.not-front:not(.node-type-landing-page) .region-content .block:not(#block-system-main):not(.style-exempt):not(#block-berklee-site-section-announcements){background: none;}



a.button{display: inline-block;}

.view .item-list{text-align:center;}

ul.pager, .region-content ul.pager{
	max-width:100%;
	width:auto;
	height: auto;
	margin-top:16px;
  margin-bottom:16px;
}

ul.pager li,
.region-content ul.pager li,
.view.first-page .pager li,
.view.last-page .pager li{
	width:auto;
}

ul.pager li a:hover, .region-content ul.pager li a:hover{
	background:#f5f5f5;
}

ul.pager li a, .region-content ul.pager li a,
ul.pager li.pager-current,
ul.pager li.pager-ellipsis,
.region-content ul.pager li.pager-current,
.region-content ul.pager li.pager-ellipsis{
	padding:8px 16px;
}

h1{
	font-size: 32px;
	color: #666;
	line-height: 1.5;

	&#page-title{
		font-size:28px;
    margin:4px 0 12px 0;
    line-height:1;
	}
}
h3{font-size: 18px; font-weight: bold; color: #666;}


// login menu block
#block-menu-menu-menu-login-menu{
	float:right;
	position:relative;
}
// main menu
#block-system-main-menu{
	nav > ul > li > ul > li > ul{
		margin-left:12px;

		a{color:#B7BD8F !important;}
	}
}


// menu
#block-block-9{
	float:left;
	display:inline-block;
	text-align:left;
}

.region-header{background:none;}

body, body.front, body.not-front{
	@media #{$not-small}{

		.region-header {
			background:url(https://library.berklee.edu/sites/all/themes/jjamerson_lb/images/header/banner/library-1.jpg) no-repeat transparent;
	    background-size:cover;
	    position:relative;
	    background-color:#7b8b96;
	    z-index:15;
	    height:193px;

	    .share-holder{
		    bottom:-34px;
	    }
		}

		.region-content-top{height:auto;}

	}
	@media #{$s}{
		.region-header {
			background:#222;
	    height:60px;
		}

		.region-content-top{height:auto;}
	}
}

.region-top-nav{
	text-align:center;

	#block-weekhours-weekhours-current{
		display:inline-block;

		.weekhours-status b{text-transform:uppercase;}
	}
}

//section.region{border:dashed 1px red;}

.not-front:not(.node-type-landing-page) .region-content .block:not(#block-system-main):not(.style-exempt):not(#block-berklee-site-section-announcements) .content{
	padding:0;
}

body.front {

	#page.open{
		text-align:center;

		#page-content{
			text-align:left;
			display:inline-block;
			float:none;
			margin:12px 0 0 0;

			width:98%;
		}

	}

	.region-content-top{
		margin-bottom:0;
		text-align:center;
	}

	.front-block{
		display:inline-block;
		vertical-align:top;

		a{display:block; text-align:right; width:100%; color:#eee;}

		i{
			font-size:48px; margin-right:0; margin-left:12px; color:#eee;

			&.fa-anchor{font-size:40px;}
		}

		h3{
			pointer-events: none;
			text-align: left;
			font-size:125%;
			font-weight:bold;
			text-transform:uppercase;
			color:#fff;
			margin-bottom:8px;
			//white-space:nowrap;
		}

		.each-block-description{
			pointer-events: none;
			color:#fff;
			text-align: right;
			line-height: 18px;
			text-shadow: 1px 1px 4px #000;
			font-size: 110%;
			padding: 0 12px 12px 12px;
			margin-top: 36px;
			//background-color: rgba(123, 139, 150, 0.9);
			position:absolute;
			bottom:0; left:0;
			width:100%;
			height: 62px;

			//-webkit-border-top-right-radius: 30px;
	    -webkit-border-bottom-left-radius: 30px;
	    //-moz-border-radius-topright: 30px;
	    -moz-border-radius-bottomleft: 30px;
	    //border-top-right-radius: 30px;
	    border-bottom-left-radius: 30px;

			background: -webkit-linear-gradient(left, rgba(123, 139, 150, 0), rgba(123, 139, 150, 0.9));
			background: -o-linear-gradient(left, rgba(123, 139, 150, 0), rgba(123, 139, 150, 0.9));
			background: -moz-linear-gradient(left, rgba(123, 139, 150, 0), rgba(123, 139, 150, 0.9));
			background: linear-gradient(to right, rgba(123, 139, 150, 0), rgba(123, 139, 150, 0.9));

	    display:none;
	    //display: flex;
		  justify-content: flex-end;
		  align-items: flex-end;
	    //opacity: 0;
		}
		&.top-resources .each-block-description{
		  background: -webkit-linear-gradient(left, rgba(99, 92, 96, 0), rgba(99, 92, 96, 0.9));
			background: -o-linear-gradient(left, rgba(99, 92, 96, 0), rgba(99, 92, 96, 0.9));
			background: -moz-linear-gradient(left, rgba(99, 92, 96, 0), rgba(99, 92, 96, 0.9));
			background: linear-gradient(to right, rgba(99, 92, 96, 0), rgba(99, 92, 96, 0.9));
	  }

		&.search-catalog, &.search-leadsheet{

			.btn-libguides{display:none;}

			.columns{
				display:inline-block;
				padding-right:4px;
				margin:7px 0;
				vertical-align:middle;

				input{width:95%;}
				input, a{margin:0 0 0 0;}

			}
			.columns:nth-child(3){
				display:none;
			}
			.small-8{
				width:85%;
				//float:left;
				display:inline-block;
			}
			.small-2{
				width:10%;
				//float:right;
				display:inline-block;

				a{display:inline-block; text-align:left; width:auto; color:#eee; float:left;}

			}
		}
		&.search-catalog{
			height: 98px;
			.content{

				#search-wrapper{

// 					#search-box{margin-left:12px;}

					a{
						padding:4px 8px;

						i.fa-search{
						font-size: 20px;
						margin-left: 0;
						}
					}
				}
			}

		}

		&.featured{
			//margin:0 0 0 0;
			padding:0 0 0 0 !important;
			//width:33%;
			//float:right;

			.flexslider{
				margin:0 0 0 0;
				border:none;
				-webkit-border-radius:none;
				-moz-border-radius:none;
				-o-border-radius:none;
				border-radius:none;
			}
		}

		&.faq-jump{
			height:98px;

			.view{
				text-align:left;

				&>div{
					display:inline-block;
					vertical-align:bottom;
				}

				.view-content{
					width:84%;
				}
				.view-footer{
					width:14%;
				}
			}
			select{width:100%;}
			//i.fa{color:#eee;}

		}

		&.az-list,
		&.av-streaming,
		&.top-resources,
		&.libguides,
		&.leadsheet{
			//width:23%;
		}

		&.periodicals{
			//width:31%;
		}
		&.ill-request{
			//width:28%;
		}

		&.open-hours{
			//width:10%;
		}

		//&.faq,
		//&.blog,

		&.services{
			//width:36%;
		}

		&.faq-jump{
			position: relative;

			a{
				position:absolute; bottom:0; right:0; padding: 0 12px 12px 0;
				width: 50px;
				i{font-size: 44px;}
			}

		}

		&.easter-egg{
			//width:7%;
			height:98px;
			-webkit-border-radius:49px;
			-moz-border-radius:49px;
			border-radius:49px;
			visibility: hidden;
		}

		&.instagram,
		&.twitter,
		&.facebook{
			//width:7%;
			height:98px;
			overflow:hidden;
			padding:0;

			.content, p, a{
				width: 100%;
				height: 100%;
				text-align: center;

				img{
					max-width:100%;
					max-height:100%;
					margin:0 0 0 0;
					padding:0 0 0 0;
					vertical-align: middle;
				}
				.valign-helper{
					display:inline-block;
					vertical-align: middle;
					height: 100%;
				}

			}




		}

		&.course-reserve{
			//width:26%;
		}

		&.top-resources{background-color:#635c60;}
		&.open-hours{background-color:#d2af6e;}
		&.libguides{background-color:#c793c0;}
		&.az-list{background-color:#ada143;}
		&.av-streaming{background-color:#e47b75;}
		&.archives{background-color:#8b647f;}
		&.services{background-color:#76996C;}
		&.acquisitions{background-color:#CD553D;}
		&.displays{background-color:#84a9d2;}
		&.periodicals{background-color:#76a2a9;}
		&.faq-jump, &.faq{background-color:#7A8277;}
		&.course-reserve{background-color:#16ac96;}
		&.search-catalog{background-color:#25353c;}
		&.search-leadsheet, &.leadsheet{background-color:#4c5960;}
		&.ill-request{background-color:#078baa;}

		&.displays,
		&.acquisitions,
		&.archives,
		&.open-hours,
		&.libguides,
		&.az-list,
		&.av-streaming,
		&.services,
		&.periodicals,
		&.course-reserve,
		&.search-leadsheet, &.leadsheet,
		&.ill-request{
			height: 98px;
			position:relative;

			a{position:absolute; bottom:0; right:0; padding: 0 12px 12px 0;}
		}


		&.top-resources{
			position:relative;
			margin-bottom: 0.9%;
			min-height: 300px;

			.content{text-align:right;}

			table, td{
				background-color:transparent;
				background-image:none;
				-moz-box-shadow:none;
				-webkit-box-shadow:none;
				box-shadow:none;
				border:none;
			}
			td{padding:12px 12px 0 12px; font-size:18px;}

			i.fa{font-size:48px; margin-right:0; margin-left:12px; color:#eee;}

			a{display:inline;}

			.more-resources{position:absolute; bottom:0; right:0; padding: 0 4px 10px 0;}

			-moz-transition: none;
			-o-transition: none;
			-webkit-transition: none;
			transition: none;

		}


		&{
			-webkit-border-top-right-radius:0;
			-webkit-border-bottom-left-radius:0;
			-moz-border-radius-topright:0;
			-moz-border-radius-bottomleft:0;
			border-top-right-radius:0;
			border-bottom-left-radius:0;
		}
		&:not(.twitter-feed):hover{

			-webkit-border-top-right-radius:30px;
			-webkit-border-bottom-left-radius:30px;
			-moz-border-radius-topright:30px;
			-moz-border-radius-bottomleft:30px;
			border-top-right-radius:30px;
			border-bottom-left-radius:30px;
		}

		&.displays:hover,
		&.acquisitions:hover,
		&.archives:hover,
		&.course-reserve:hover,
		&.open-hours:hover,
		&.libguides:hover,
		&.az-list:hover,
		&.av-streaming:hover,
		&.services:hover,
		&.periodicals:hover,
		&.leadsheet:hover,
		&.ill-request:hover{
			background-color:#7b8b96;
			cursor: pointer;
		}

		&:active{background-color:#ee243c;}

		&.twitter-feed{
			text-align: left;
			background: #eee;

			.views-row{
				font-size: 86%;
				border-bottom: dotted 1px #999;
				margin-bottom: 4px;
				padding-bottom: 4px;
				min-height: 50px;
			}
			.views-row-last{
				border-bottom: 0;
			}

			a{
				display:inline;
				color: #d81118;
			}
			img{
				margin:0; float:left;
				-webkit-border-radius:30px;
				-moz-border-radius:30px;
				border-radius:30px;
			}

			span{
				vertical-align: top !important;
			}

			.more-link {
		    width: 120px;
		    float: right;
			}
		}
	}

}

// Logo block
#block-block-8{

	.sub-title{
		position:absolute;
    bottom:0;
    right:0;
    display:inline-block;
    margin-bottom:0;

    a{
	    font-size:54px;
	    color:rgba(255,255,255,.85);
	    text-transform:uppercase;
	    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

			&:hover, &:active, &:visited, &:focus,
			i:hover, i:active, i:visited, i:focus{
				text-decoration:none;
				color:rgba(255,255,255,1);
			}

	  	i{
		    margin-right:6px;
		    font-size:40px;
		    vertical-align:3px;
		    font-style:normal;
			  color: rgba(255, 255, 255, 0.85);
		    text-transform: uppercase;
		    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	  	}
    }

    @media #{$s}{
			display:none;
		}
	}


}
.admin-menu #block-block-8 .sub-title{top:159px;}

// off screen sidebar
#off-screen-sidebar{
	 li{
	 		ul{
	 			display:list-item;
			}
	 }
}

.region-header > .container > #logo{display:none;}

// Menu
li {
	& > span.nolink {
    color:rgba(255,242,240,0.9);
    margin-top:1.5em;
    margin-bottom:0.5em;
    margin-left:0.5em;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    line-height:1.4em;
  }
  & > span.separator hr{
	  border:none;
    border-top:6px solid #555 !important;
  }
}
// campus tool menu
.campus-tools{
	li {
		& > span.nolink {
	    margin-top:0;
		}
	}
}

.view-feature-slider{

	.flexslider{

		background:none;
		box-shadow:none;
		-webkit-border-radius:none;
    -moz-border-radius:none;
    -o-border-radius:none;
    border-radius:none;

		ul{
			margin-top:0;
			margin-bottom:0;
			li{
				margin-left:0;

				img{padding:0; margin:0;}
			}
		}

	}


}

div.widgets-element-horizontal{display:inline-block; float:none; margin:4px 2px;}

.view a.button{display: inline-block; vertical-align: top; float: right;}

// leadsheet blocks
#block-views-56aa2432dd1349414aa29fb65935ada9,
#block-views-leasheet-song-by-book-block{background: none !important;}

.messages.status.general{
	padding:20px; margin:12px;
	font-size: 16px;
	span{line-height: 24px; margin-left:8px;}
}

body.page-taxonomy-term{
	.term-listing-heading{
		margin-top: 24px;

		.field-item{font-size: 18px; line-height: 24px;}
	}

}

html.js input.throbbing, html.js input.form-autocomplete {
    background-position: 99% 50%;
}
html.js input.form-autocomplete {
    background-image: url(/sites/all/themes/jjamerson_lb/images/throbber-inactive.png);
    background-repeat: no-repeat;
}
html.js input.throbbing{
    background-image: url(/sites/all/themes/jjamerson_lb/images/throbber-active.gif);
}

body.page-taxonomy:not(.front) #page-content, body.page-taxonomy:not(.front) .region-sidebar-first, body.page-taxonomy:not(.front) .region-sidebar-second .block {
    padding: 15px;
    background: white;
    -moz-box-shadow: 1px 1px 7px rgba(40, 38, 37, 0.13);
    -webkit-box-shadow: 1px 1px 7px rgba(40, 38, 37, 0.13);
    box-shadow: 1px 1px 7px rgba(40, 38, 37, 0.13);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
body.page-taxonomy:not(.front) {
    background: #f6f4f5;
}
.region-sidebar-first, .region-sidebar-second {
    margin-top: 0;
}
body.page-taxonomy:not(.front) #page-content {
    padding-top: 7px;
    margin-bottom: 30px;
}
body.page-node .region-content table td > table{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;

}
body.page-node .region-content table td > table td{
	border:none;
}

body.page-node-12{
	.content{
		h4{margin: 18px 0 6px 0;}
	}
}

// recent acquisition page
body.page-browse-acquisitions{
	background: #f6f4f5;

	// top attachements
	#block-views-38eb64ce61721af61fc5e9f57dd81983{
	  background: #fff !important;
	  padding: 15px;
	  -moz-box-shadow: 1px 1px 7px rgba(40, 38, 37, 0.13);
	  -webkit-box-shadow: 1px 1px 7px rgba(40, 38, 37, 0.13);
	  box-shadow: 1px 1px 7px rgba(40, 38, 37, 0.13);
	  -moz-border-radius: 2px;
	  -webkit-border-radius: 2px;
	  border-radius: 2px;

 		margin-bottom:24px;
	}

	.view-display-id-page{

		.views-row{

			.field-name-title{margin-top: 1.2em;}

			&:after{
				border-bottom:1px dotted #999;
				border-top:1px dotted #999;
				content:'';
				display:block;
				height:3px;
				width:100%;
			}
		}
	}

	div.scrollerBorderJsong{
		padding:12px 0 4px 0;
		border-left:8px solid #7b8b96;
		border-right:8px solid #7b8b96;
		margin-bottom: 1em !important;

		&:hover{
			border-color:#ED1C24;
		}
	}

}

// event and display pages
body.page-about-us-display,
body.page-about-us-event{
	background: #f6f4f5;

	// top attachements
	#block-views-e70fd23f6f74fd0c757553db07c118d8,
	#block-views-72e67d1f8038e4c166a87bf3a2c293ef{
	  background: #fff !important;
	  padding: 15px;
	  -moz-box-shadow: 1px 1px 7px rgba(40, 38, 37, 0.13);
	  -webkit-box-shadow: 1px 1px 7px rgba(40, 38, 37, 0.13);
	  box-shadow: 1px 1px 7px rgba(40, 38, 37, 0.13);
	  -moz-border-radius: 2px;
	  -webkit-border-radius: 2px;
	  border-radius: 2px;

	}
	.view-display-id-block_ne_mostrecent,
	.view-display-id-block_virtualdisplay_featured{
		.views-field-field-image-banner .field-content{
			text-align: center;

			img{float:none;}
		}
	}
	// list views
	.view-display-id-page_newsevents,
	.view-display-id-page_virtualdisplay{
		.views-row{
			margin-bottom: 32px;
	    border-top: 1px dotted #999;
	    padding-top: 16px;

			.date-display-single {
		    color: #003575;
		    white-space: nowrap;
			}

			.views-field-field-image-banner{
				float:left;

				img{
			    -webkit-box-shadow: 2px 2px 2px #ccc;
			    -khtml-box-shadow: 2px 2px 2px #ccc;
			    -icab-box-shadow: 2px 2px 2px #ccc;
			    -moz-box-shadow: 2px 2px 2px #ccc;
			    -o-box-shadow: 2px 2px 2px #ccc;
			    box-shadow: 2px 2px 2px #ccc;
			    -webkit-border-radius: 5px;
			    -khtml-border-radius: 5px;
			    -icab-border-radius: 5px;
			    -moz-border-radius: 5px;
			    -o-border-radius: 5px;
			    border-radius: 5px;

			    padding:0;
			    margin:0 12px 0 0;
		    }
			}

			i{color:#003575;}
		}
		.views-row-1{border-top:none;}
	}


}

body.node-type-announcement .field-name-field-image-banner .field-items{text-align: center;}

body.page-about-us-services-ill-submissions table tbody tr.ill-received-yes{background-color: rgba(242, 243, 158, 0.2)}
body.page-about-us-services-ill-submissions table tbody tr.ill-return-yes{background-color: rgba(113, 196, 43, 0.2)}
body.page-about-us-services-ill-submissions table tbody tr.Lost{background-color: rgba(255, 0, 0, 0.3);}
/* body.page-about-us-services-ill-submissions table tbody tr.ill-return-no{background-color: rgba(242, 243, 158, .5)} */
body.page-about-us-services-ill-submissions table tbody tr td{
	background-color: transparent; background-image: none;
	-moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.view-id-faq_all .views-field-title a:nth-child(2),
a.views-more-link{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    background: #e1e1e1;
    color: #596776;
    float: none;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
}
.view-id-faq_all .views-field-title a:nth-child(2):after,
a.views-more-link:after{
		color: #aaa;
    font-family: FontAwesome;
    opacity: 0.7;
    content: "\f061";
    padding-left: 5px;
}

.view-id-faq_all{
	table{

		caption{font-size: 18px; font-weight: bold; color:#666;}

		.views-field-title{

			a:nth-child(1){
				font-size: 18px; font-weight: bold;

				i{color:#003575;}
			}

			a:nth-child(2){
				margin: 0 0 0 0;
			  padding: 1px 10px 1px 6px;
			  text-align: center;
				float: right;
			}
		}
	}
}

.view .element-invisible{display:none;}

// weekhours blocks
#block-weekhours-weekhours,
#block-views-7e6636293d157944927a06d5285fffdd{background:none !important; background-image: none;}

// faq dropdown block
#block-views-5c212d6e2e5108621a90e526b92eee12{

	.view-id-faq_library_jump_menu{

		.view-content, .view-footer{
			display:inline-block;
		}

		select{width:100%;}
	}
}
body.not-front #block-views-5c212d6e2e5108621a90e526b92eee12{
	 h3{display:none;}
	 .view-content{width:100%}
	 i{display:none;}
}
// faq go back to main page block
#block-block-7{
	float:right;
}

.more-link.edit a:first-child:after{display:none;}

.field-type-is-useful:before{
	border-bottom:1px dotted #999;
	border-top:1px dotted #999;
	content:'';
	display:block;
	height:3px;
	width:100%;
}

form.is-useful-form{
	margin-top: 16px;

	#edit-submit,
	.is-useful,
	.is-useful-widget,
	.is-useful-link{
		display: inline-block;
		vertical-align: text-bottom;
	}

	.is-useful-link,
	#edit-submit,
	select{margin: 0 0 0 12px;}

}

.wowza-player{
	text-align: center;

	h5{display:none;}

}


.more-link.services{
	text-align: center;
	margin: 24px 0;
	height:auto;
	a{margin: 6px; float:none; display:inline-block; font-size: 120%; padding: 12px;}
}

#edit-field-wh-datetime-value-wrapper{
	.views-operator, .views-widget, .dependent-options{
		display:inline-block;
		vertical-align: top;
	}
}

.view-id-shorten_url_list,
.view-id-all_content,
.view-id-people,
.view-id-bib_item_list{

	.more-link{
		a{margin-right: 4px; margin-bottom: 20px;}

	}

	td{
		vertical-align: top !important;
		padding:4px !important;
	}

	img{height: 60px !important;}
}

#off-screen-sidebar li a.active-trail{
	border-left: 3px solid #d81118;
}

#block-menu-menu-menu-login-menu{
	ul.menu{
		li.first.leaf.no-submenu{display:none}
		li.first.last.leaf.no-submenu{display:inline}
	}
}

.page-node-submission .webform-component-fieldset label{font-weight: bold;}

.hide-this{display:none;}

.webform-component .webform-datepicker{
	&>div{
		display:inline-block;
	}
	select{
		width: auto;
	}
}

.page-node-79571 .alphabet{padding-top: 16px; border-top: 1px dotted #aaa;}

.views-exposed-widgets{
	& > div {
		display: inline-block;
		vertical-align: bottom;
		margin-right: 10px;
	}
}

/* MEDIA QUERIES FOR RESPONSIVE ***************************/
/** layout variables
$huge:'(min-width:1600px)';
$xl:'(min-width:1200px)';
$l: '(min-width:980px) and (max-width:1199px)';
$m: '(min-width:768px) and (max-width:979px)';
$s: '(max-width:767px)';
$not-small:'(min-width:768px)';
$not-large:'(max-width:979px)';
$not-xlarge:'(max-width:1199px)';
$huge-width:1600px;
$xl-width:1200px;
$l-width: 980px;
$m-width: 768px;
$s-width: 480px;

//usage
	@media #{$not-small} {}

**********************************************************/
@media #{$not-small}{

	#block-weekhours-weekhours,
	#block-views-7e6636293d157944927a06d5285fffdd{
		width:50%;
		display:inline-block;
		vertical-align:top;

		&, .content{padding: 12px;}
	}

}
@media #{$s}{

// Menu
li {
	& > span.nolink {
    margin-top:0;
    margin-bottom:0;
  }
}
// login menu
#block-menu-menu-menu-login-menu{
	float:none;

	.content a {
    background-color: #6a6a6a;
    border: 1px solid #3f3f3f;
    border-left-color: #777;
    border-radius: 5px;
    border-right-color: #333;
    border-top-color: #777;
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
    color: #ddd;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 0.3em 0.9em;
    text-align: center;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
    text-transform: none;
	}
	i{font-style: inherit;}
}


}

@media (min-width: 1200px) and (max-width: 1320px) {
	body.front{
		.front-block h3{
			font-size: 120% !important
		}
	}
}
@media (min-width: 1200px) {
  .region-header #logo, .region-header #logo img {
    height: 64px;
    width: auto;
  }
}
@media (min-width: 1080px) and (max-width: 1199px) {
	body.front{
	  .front-block h3{
		  font-size: 110% !important;
		}
	}
}
@media (min-width: 980px) and (max-width: 1079px) {
	body.front{
	  .front-block h3{
		  font-size: 100% !important;
			white-space: normal !important;
		}
	}
}
@media (min-width: 980px) and (max-width: 1199px) {
  .region-header #logo, .region-header #logo img {
    height: 64px;
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .region-header #logo, .region-header #logo img {
    height: 64px;
    width: auto;
  }

	#block-block-8 .sub-title a {
		font-size: 36px;

	  i{font-size: 28px;}
	}

	body.front{
	  .front-block{
		  height: 98px;

		  h3{
			  font-size: 110% !important;
			  white-space: normal !important;
			}

			i{font-size: 30px !important;}

		  &.search-catalog{
				.small-8{width: 86% !important}
				.small-2{
					a{
						padding:4px 8px;

						i.fa-search{
						font-size: 20px !important;
						margin-left: 0;
						}
					}
				}
			}

		  &.top-resources{

			  h3{margin-bottom: 0 !important;}

			  .more-resources a{font-size: 80%;}

			  table{
				  margin-top: 0;
				  margin-bottom: 0;

				  td{
					  //padding: 0 0 0 0 !important;

					  a{font-size: 90%;}
				  }
			  }
			}
	  }
	}
}
@media (min-width: 768px) {
  .region-header #logo {
    margin-top: 1.6em;
  }
	body.no-sidebars.page-about-us-services-reserve-order-submissions #page-content,
	body.no-sidebars.page-about-us-services-purchase-submissions #page-content,
  body.no-sidebars.page-about-us-services-ill-submissions #page-content{
	  margin-left: 0.5%;
    margin-right: 0.5%;
    width: 99%;
    margin-top: 0;

    table{
	    font-size:80%;

	    td{padding:4px}

    }
  }

	body.front{
		/* front block width */
	  .front-block{
			//width:48%;
			padding:12px;
			margin:1%;

			&.search-leadsheet{

			}

			&.top-resources{
				float:left;
			}

			&.search-catalog{
				width:48%;
			}

			&.az-list,
			&.av-streaming,
			&.top-resources,
			&.libguides,
			&.leadsheet{
				width:23%;
			}

			&.services{
				width:39%;
			}

			&.periodicals{
				width:32%;
			}

			&.archives{
				width:32%;
			}
			&.course-reserve{
				width:30%;
			}
			&.faq-jump{
				width:32%;
			}

			&.open-hours,
			&.ill-request{
				width:32%;
			}

			&.instagram,
			&.twitter,
			&.facebook{
				//width:7.3%;
				width:8.6%;
			}

			&.acquisitions{
				width: 32%;
			}
			&.displays{
				width: 30%;
			}

			&.featured{
				max-width:64%;
			}
			&.twitter-feed{
				width: 32%;
			}

		}
	}
}
@media (min-width: 480px) and (max-width: 767px) {
  .region-header #logo, .region-header #logo img {
    height: 34px;
  }

  .region-header #logo {
  margin-top: 0;
  position: absolute;
  left: 0;
  width: auto;
  top: 0.8em;
	}

	body.front{
		/* front block width */
	  .front-block{
			width:48%;
			padding:12px !important;
			margin:1%;
			h3{
				font-size: 116% !important;
			}

			&.featured{
				width:98%;
				float:none;
			}

			&.top-resources{
				float:left;
			}

			&.search-catalog{
				width:65%;
			}
			&.leadsheet{
				width:31%;
			}

			&.az-list,
			&.av-streaming,
			&.top-resources,
			&.libguides{
			}

			&.periodicals{
			}
			&.ill-request{
			}
			&.open-hours{
			}
			&.services{
			}

			&.faq-jump{

				.view .view-content{
						width:78% !important;
				}
			}

			&.instagram,
			&.twitter,
			&.facebook{
				width: 14.6%;
				height: 98px !important;
				padding: 0 12px !important;
			}

			&.acquisitions{

			}

			&.archives{

			}

			&.course-reserve{
				//width:26%;
			}

		}
	}

}
@media (max-width: 479px){
  .region-header #logo, .region-header #logo img {
    height: 34px;
  }

  .region-header #logo {
  margin-top: 0;
  position: absolute;
  left: 0;
  width: auto;
  top: 0.8em;
	}
	body.front{
		/* front block width */
	  .front-block{
			width:98%;
			padding:12px !important;
			margin:1%;

			h3{
				font-size: 116% !important;
			}

			&.featured{
				//width:33%;
				//float:right;
			}

			&.top-resources{
				//float:left;
			}

			&.search-catalog{
				//width:65%;
			}
			&.leadsheet{
				//width:31%;
			}

			&.az-list,
			&.av-streaming,
			&.top-resources,
			&.libguides{
				//width:23%;
			}

			&.periodicals{
				//width:31%;
			}
			&.ill-request{
				//width:28%;
			}

			&.open-hours{
				//width:10%;
			}

			//&.faq,
			//&.blog,

			&.services{
				//width:36%;
			}

			&.faq-jump{
				//width:31.3%;
				//width:35%

			}

			&.easter-egg{
				//width:7%;
			}

			&.instagram,
			&.twitter,
			&.facebook{
				width:31%;
			}

			&.course-reserve{
				//width:26%;
			}

		}
	}
}


/* feedback_simple module CSS: ********************************
 * duplecated CSS add here to make it work on 3rd party sites
 *************************************************************/
#feedback_simple a {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: fixed;
  text-decoration: none !important;
  z-index: 9999;
}
.side-tab-feedback_simple{
	display:block;
	background-color: rgba(238, 36, 60, 0.85);
	right: -66px;
	padding: 12px 16px;
	color: #fff !important;
	letter-spacing: 1px;
	font-size: 18px !important;
	line-height: 16px !important;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.side-tab-feedback_simple:hover{
	color: #fff !important;
	background-color: rgba(238, 36, 60, 1);
	border-radius: 18px 18px 0 0;
	-moz-border-radius: 18px 18px 0 0;
	-webkit-border-radius: 18px 18px 0 0;
}
@media (max-width: 767px) {
	.side-tab-feedback_simple{
		font-size: 16px;
		padding: 8px 12px;
	}
}
/**********************************************************/