body.page-node-2298321.node-type-hybrid-homepage {
  .view-news .field-image img {
    @media #{$m} {
      width: 100%;
      height: auto;
    }
    @media #{$s} {
      width: 100%;
      height: auto;
    }
  }
}

// These styles are for the Alumni Entrpreneurs page //
body.page-node-2251241 {
  .views-row h2 ~ p {
    display:none;
  }
  .field-type-image img {
    float: right;
    width: 200px;
    margin: 0 0 2px 20px;
    padding-left: 0;
  }
  ul.links.inline,
  li.node-readmore.first.last.node-readmore,
  .field-name-field-year {
    display: none;
  }
  .views-row:after {
    clear: right;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 10px 0;
    background: #eee;
  }
  .field-title {
    padding-top: 5px;
  }
  .field-type-text {color: #aaa;}
  .view-news .field-image img {
    @media #{$m} {
      width: 100%;
      height: auto;
    }
    @media #{$s} {
      width: 100%;
      height: auto;
    }
  }
}