
.view-ice-profile-slider {
  .field-teaser {
    h2 {
      border-bottom: 1px solid #ccc;
      color: #888;
      font-family: $headline; font-weight: 100;
      margin-bottom: 9px;
    } 
    h3 {
      font-family: $headline; font-weight: normal;
      text-transform: uppercase;
    }
  }
  
}